body {
  font-family: Verdana;
  font-size: 12px;
  margin: 0px;
}

a, div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  user-select: none;
}

#container {
  height: 100%;
  position: absolute;
  width: 100%;
}

.even {
  background-color: #aaa;
}

.date-separator {
  background-color: #000;
  border: 1px solid #000;
  border-left: 0px;
  border-right: 0px;
  color: #fff;
}

#tracks {
  height: 100%;
  list-style: none;
  margin: 0px;
  overflow: auto;
  padding: 0px;
  position: absolute;
  width: 100%;
}

#tracks li {
  list-style: none;
  margin: 0px;
  padding: 10px 10px;
}

#tracks li:after {
  content: " ";
  clear: both;
  display: block;
  height: 1px;
  overflow: hidden;
  width: 1px;
}

#tracks li:hover:not(.date-separator) {
  opacity: 0.7;
}

#tracks li:first-child {
  margin-top: 40px;
}

#tracks li:last-child {
  margin-bottom: 40px;
}

#tracks .content {
  border: 2px solid #000;
  font-family: inherit;
  float: left;
  margin-right: 20px;
  padding: 0px;
}

@media (min-width: 991px) {
  #tracks .content {
    min-height: 50px;
    min-width: 600px;
  }
}

#tracks .content[data-write='disabled'] {
  background-color: #ddd;
  color: #444;
}

#tracks .checkbox, #tracks .start, #tracks .stop {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  position: relative;
}

#tracks .checkbox {
  float: right;
}

#tracks .start, #tracks .stop, .btn-default {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  font-family: 'Tahoma';
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px;
  overflow: hidden;
  text-align: center;
}

#tracks .stop {
  background: #000;
  color: #fff;
  display: none;
}


#tracks [data-active='true'] {
  display: inline-block;
}

#tracks [data-active='false'] {
  display: none;
}

#tracks .id , #tracks .timestart, #tracks .timeend, #tracks .timediff {
  display: none;
}

#formTimetracks {
  z-index: 2;
}

.menu {
  background-color: #eee;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
  height: 40px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
}

ul.menu {
  bottom: 0px;
  -webkit-box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.15);
  box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.15);
  top: auto;
}

ul.menu li {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 16px;
  line-height: 18px;
  margin: 0px 10px;
  overflow: hidden;
  padding: 10px 0px;
  position: relative;
  visibility: hidden;
  width: 20px;
}

#create:before {
  content: "\0002B";
  display: block;
  position: absolute;
  visibility: visible;
}

#delete:before {
  content: "\02212";
  display: block;
  position: absolute;
  visibility: visible;
}

.dateViewFromLabel,
#dateViewFrom,
.dateViewToLabel,
#dateViewTo {
  margin: 10px 0px 10px 10px;
}

#settings {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

#settingsPopup {
  background: #fff;
  border: 4px solid #000;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  padding: 60px 20px 20px 20px;
  position: absolute;
  width: 300px;
  z-index: 999;
}

#settingsPopup.hide {
  display: none;
}

#settingsPopup.show {
  display: block;
}

#settingsPopup label {
  clear: both;
  display: block;
  float: left;
  margin-bottom: 10px;
  width: 100px;
}

#settingsPopup input, #settingsPopup select {
  display: block;
  float: right;
  margin-bottom: 10px;
  width: 200px;
}

#settingsPopupSaveBtn {
  clear: both;
  cursor: pointer;
}

.settings-popup-close {
  background: #000;
  color: #fff;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 30px;
}