.datepicker {
  background-color: #fff;
  border: 1px solid #555;
  display: none;
  position: absolute;
}

.datepicker.show {
  display: block;
}

.datepicker:after {
  content: "";
  clear: both;
  display: table;
}

.datepicker .day {
  cursor: pointer;
  display: block;
  float:left;
  height: 20px;
  padding: 2px;
  width: 20px;
}

.datepicker .next-row {
  clear: both;
}

.datepicker .active {
  background-color: #555;
  color: #fff;
}